venv/
__pycache__/
*.Lnk
scripts/RL/expert_demos/demos_backup*
scripts/RL/expert_demos/expert_demos*
logs
checkpoints
*.ods*
*.ply
thesis/main.aux
thesis/main.bbl
thesis/main.blg
thesis/main.fdb_latexmk
thesis/main.fls
thesis/main.log
thesis/main.synctex.gz
thesis/main.toc
thesis/main.out
thesis/Makefile
thesis/output.txt
thesis/output2.txt
thesis/README.md
thesis/robot.png
thesis/sdu_logo.pdf
thesis/template_chapters_example
thesis/resources/artificial_intelligence.pdf