<?xml version="1.0"?>
<robot name="hydraulic_press">
    <link name="world">
    </link>

    <joint name="world_to_body" type="fixed">
        <parent link="world"/>
        <child link="body"/>
        <origin xyz="0 0 0.0"/>
    </joint>

    <link name="body">
        <visual> 
            <geometry>
                <box size="0.5 0.5 0.1"/>
            </geometry>
            <origin xyz="0.0 0.0 1.0"/>
        </visual>
        <collision>
            <geometry> 
                <box size="0.5 0.5 0.1"/>
            </geometry>
            <origin xyz="0.0 0.0 1.0"/>
        </collision>
        <inertial> 
            <origin xyz="0.0, 0.0, 1.0"/>
            <mass value="0.2"/>
            <inertia ixx="0.167" ixy="0" ixz="0" iyy="0.0" iyz="0.167" izz="0.167"/>
        </inertial>
    </link>

    <joint name="body_to_base" type="prismatic">
        <parent link="body"/>
        <child link="base"/>
        <origin xyz="0 0 0.0"/>
        <axis xyz="0.0 0.0 -1.0"/>
        <limit lower="-0.2" upper="0.2" effort="1000.0" velocity="1"/>
    </joint>

    <link name="base">
        <visual> 
            <geometry>
                <box size="0.5 0.5 0.03"/>
            </geometry>
            <origin xyz="0.0 0.0 0.115"/>
        </visual>
        <collision>
            <geometry> 
                <box size="0.5 0.5 0.03"/>
            </geometry>
            <origin xyz="0.0 0.0 0.115"/>
        </collision>
        <inertial> 
            <origin xyz="0.0, 0.0, 1.0"/>
            <mass value="2.7"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
    </link>

</robot>